/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(#ceb778, #9e4c00);
}

.container {
  width: 340px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px; /* Bordes redondeados */
}

.store-name {
  font-family: 'Courgette', cursive;
  font-size: 37px;
  margin-bottom: 20px;
  color: #0788ff;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  font-size: 14px;
  border-radius: 15px;
  box-sizing: border-box; /* Añadido */
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #cccccc;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #091dab;
  border: none;
  color: #ffffff;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box; /* Añadido */
}

.btm{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #116800;
  border: none;
  color: #ffffff;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box; /* Añadido */
}
.login-link{
  font-size: 12px;
  margin-top: 25px;
}
