body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

.custom-header {
    background-color: #0788ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #ffffff;
    width: 100%;
    height: 50px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.company-name {
    margin-top: 0;
    font-family: 'Courgette', cursive;
    font-size: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-name {
    font-family: 'Roboto', sans-serif;
    padding-right: 20px;
}

.logout-button {
    font-family: 'Roboto', sans-serif;
    background-color: #091dab;
    border: none;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.main-title {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #2f0fff;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #354dfd;
    margin-bottom: 20px;
}

.reload-button {
    background-color: #088e06;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: px;
    cursor: pointer;
}
