html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .button-container .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container button {
    width: 100%;
    height: 70px;
    font-size: 24px;
    border-radius: 0;
  }


  @media (max-width: 576px) {
    /* Estilos para pantallas más pequeñas */
    .button-container .col-md-4 {
      flex-basis: 60.00%;
      max-width: 60.00%;
    }

    .button-container button {
      white-space: normal;
      word-wrap: break-word;
      font-size: 12px;
    }

    #sign1{
      font-size: 12px;
    }

    #sign2{
      font-size: 12px;
    }
  }

  @media (min-width: 577px) and (max-width: 992px) {
    /* Estilos para pantallas medianas */
    .button-container .col-md-4 {
      flex-basis: 60.00%;
      max-width: 60.00%;
    }

    .button-container button {
      white-space: normal;
      word-wrap: break-word;
      font-size: 12px;
    }

    #sign1{
      font-size: 12px;
    }

    #sign2{
      font-size: 12px;
    }

  }

  @media (min-width: 993px) {
    /* Estilos para pantallas grandes */
  }


  @media (max-width: 767px) {
    
  }