  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .user-photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
  }

  .circle-button img {
    max-width: 30px;
    max-height: 30px;
  }

  .center {
    text-align: center;
  }

  .button-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  .custom-navbar {
    background-color: #2f3240; /* Cambia el color aquí #0788ff; */
  }

  .custom-btn {
    background-color: #4cc9c5; /* Cambia el color aquí   9E4C00  */
  }

  .card-text{
    overflow:scroll;
    white-space:nowrap;
  }

  #saldo {
    font-size: 20px;
  }

  .custom-card {
    border-color: black;
    border-width: 8px;
  }